
img{
	height:100px;
	width:200px;
}

.header{
	background-color:#011e29;
	color:white;
	text-align:center;
	height:80px;
	display:flex;
	align-content:center;
	justify-content:center;	
}

.table{
    display: flex;
    justify-content: space-around;
    
}

.latest-news-section{
    display: flex;
    flex-direction: column;
    width: 300px;
    height:150px;
    background-color:white;
    border-radius: 20px;
	justify-content:center;

}

.main-art{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 600px;
    height: 200px;
    border-radius: 20px;
	justify-content:center;
}

.pictorial-news-section{
    display: flex;
    flex-direction: column;
    width: 300px;
    height:400px;
    background-color: white;
    border-radius: 20px;
	text-align:center;
    align-items: center;
	justify-content:center;
    
}

	
